.movies h1{
  text-align:center;
  color:white;
}
body{
  background-color:black;
}
.movies p{
  color:white;
}
.movies{
  border:solid white;
  height:1000px;
}
h1{text-align:center;}
.nav span{
  color:white;
}
.nav a{
  color:white;
}
